html, body {
    height: 100%;
}
.container {
    border-style: solid;
    border-width: 5px;
    border-color: gray;
    width: 1200px;
    height: 800px;
    
}

/* classes to assign to div blocks for background colors and give borders */
.white {
    background-color: white;
}
.black {
    background-color: black;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.white, .black, .yellow, .blue, .red {
    border-style: solid;
    border-width: 5px;
    border-color: gray;
}

/* classes to assign to div blocks to control flex and spacing */
.displayflex {
    display: flex;
}
.displayflexcol {
    display: flex;
    flex-direction: column;
}
.flexgrow1 {
    flex-grow: 1;
}
.flexgrow2 {
    flex-grow: 2;
}
.flexgrow3 {
    flex-grow: 3;
}
.flexgrow4 {
    flex-grow: 4;
}
.flexgrow5 {
    flex-grow: 5;
}
.flexgrow6 {
    flex-grow: 6;
}

/* styling for the cheats on column 1 */
#cheatcol1A, #cheatcol1C {
    border-bottom: 0px;
}
#cheatcol1B, #cheatcol1D {
    border-top: 0px;
}

/* styling for the cheats on column 4 */
#cheatcol4A, #cheatcol4C {
    border-bottom: 0px;
}
#cheatcol4B, #cheatcol4D {
    border-top: 0px;
}